<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Git Analyze</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Git Analyze</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div class="container-fluid header">          
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                  <h1>Git Analyze</h1>
              </div>
              <div class="col-md-6"></div>
          </div>
      </div>
      <div class="container-fluid description">
          <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-1"></div>              
              <div class="col-md-4">
                  <p class="lead">Helping you keep your employees happy.</p>
                  <p class="describe">Your enterprise's smart HR department. While many companies trust their employees to communicate, you don't have to. 
                    With GitAnalyze, understand the difference between onboarding and struggling. Help identify employees who are likely 
                  to quit before they even plan to themselves.</p>  
              </div>
              <div class="col-md-1"></div>              
          </div>
        </div> 
        <div class="container-fluid">
          <div class="row copyright">
              <div class="col-md-12">
                  Copyright 2017 GitAnalyze. All rights reserved.
              </div>
          </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
</body> 